body {
    background-color: #dfedcb;
    font-weight: bold;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.accordion:hover {
    cursor: pointer;
}

.accordion:hover .accordion__label::after {
    opacity: 1;
}

.accordion:hover .accordion__label {
    color: blue;
    font-weight: bold;

}

.accordion__label {
    display: block;
    cursor: pointer;
    border-top: 1px solid blue;
    position: relative;
    padding: 15px 30px 15px 15px;
    font-size: 20px;
}

.accordion__label::after {
    content: url(../cssBayan/img/plus_icon.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    opacity: 0;
}

.accordion__label:hover + .accordion__content {
    height: 240px;
    transition: all 0.2s ease;
}

.accordion__label:hover + .accordion__content img {
    height: 200px;
    transition: all 0.2s ease;
}

.accordion__input {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}

.accordion__input:checked ~ .accordion__content {
    height: 15rem;
    transition: all 0.2s ease;
}

.accordion__input:checked ~ .accordion__content img{
    height: 200px;
    transition: all 0.2s ease;
}

.accordion__input:checked ~ .accordion__label::after {
    transform: rotate(45deg) translateY(-30%) translateX(-20%);
    transition: transform 0.2s ease;
}

.accordion__content {
    height: 0;
    transition: 0.6s;
    text-align: center;
}
.accordion__content img {
    height: 0;
}

